body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

.container {
    width: 750px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.product-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background: #ddd;
}

.btn {
    padding: 10px 20px;
    background: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.back {
    cursor: pointer;
    margin-bottom: 10px;
}
